<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PM APP index</title>

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom styles for sticky footer -->
    <link href="{% static 'bootstrap/css/sticky-footer.css' %}" rel="stylesheet">

    <!-- Custom styles for navbar -->
    <link href="navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'pmapp:index' %}">PM APP beta</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Sportradamus</h1>
        <p>¿Sabes de fútbol?</p>
        <p>Demuéstralo retando a tus amigos a acertar los resultados de los partidos más importantes a nivel mundial. </p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Regístrate &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
    <h2 class="sub-header">Próximos partidos</h2>
          
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="20%">Fecha</th>
                  <th width="20%">Local</th>
                  <th width="7%"></th>
                  <th width="20%">Visita</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
	          {% if lista_partidos %}
			    {% for partido in lista_partidos %}
			    	<tr>
	                  <td><a href="{% url 'pmapp:matchdetail' partido.id %}">{{ partido.date }}</a></td>
	                  <td><a href="{% url 'pmapp:teamdetail' partido.team1.id %}">{{ partido.team1.name_text }}</a></td>
	                  <td>vs</td>
	                  <td><a href="{% url 'pmapp:teamdetail' partido.team2.id %}">{{ partido.team2.name_text }}</a></td>
	                  <td><a href="{% url 'pmapp:matchdetail' partido.id %}">pronosticar</td> 
					<tr>
			    {% endfor %}
			  {% else %}
			    <tr>
			    	<td colspan="5">No hay partidos disponibles.</td>
			    </tr> 
			  {% endif %}              
              </tbody>
            </table>
          </div>

		  <footer class="footer">
		      <div class="container">
		        <p class="text-muted">Sitio de prueba desarrollado por RRIOS EIRL.</p>
		      </div>
		  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>